body {
    background-color: grey;
    color: ivory;
    text-align: center;
}

.js {
    font-weight: bold;
    color: red;
}

h1 {
    color: lightskyblue;
    text-shadow: -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
    text-align: center;
}
a{
    text-shadow: -1px 0 rgb(245, 242, 242),
        0 1px rgb(245, 242, 242),
        1px 0 rgb(241, 240, 240),
        0 -1px rgb(250, 249, 249); 
}
ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }